PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://sundarshyam27241_db_user:qZVDNQKOMUXNB3GQ@cluster0.5j0siyw.mongodb.net/roletaskmanagement?retryWrites=true&w=majority
JWT_SECRET=dollar
JWT_EXPIRES_IN=1d
CLIENT_URL=https://taskflow-management-hazel.vercel.app
CLIENT_URLS=https://taskflow-management-hazel.vercel.app
SEED_ADMIN_EMAIL=admin@taskflowhq.com
SEED_ADMIN_PASSWORD=Admin@123
